* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: Arial; }

a {
  text-decoration: none;
  color: #00A0A9;
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: 600; }

h1 {
  margin: 10px 10%;
  text-transform: uppercase;
  font-size: 36px; }
  h1 a {
    color: #FFF; }

p {
  font-size: 17px;
  font-size: 1.7rem; }

.orange {
  color: #FF7B1A; }

article {
  margin-bottom: 15px;
  padding: 0 0 30px 0;
  border-bottom: 2px solid #999; }
  article h2 {
    font-size: 20px;
    font-size: 2rem;
    padding-bottom: 10px; }
  article p {
    margin: 0 0 10px 0; }

.header-global {
  overflow: hidden;
  padding: 2px 0 122px 0; }

.tech-content {
  padding: 0 10%;
  background: #FFF; }
  .tech-content div {
    box-sizing: border-box; }

.social-networks-news {
  display: inline-block;
  float: right;
  width: 40%; }

.footer {
  position: absolute;
  width: 100%; }

.social-networks-suscription {
  width: 380px; }

.tech-news {
  background: #FFF;
  display: inline-block;
  float: left;
  padding: 29px 4%;
  margin: -110px 0;
  width: 60%; }

.navigation-menu {
  margin: 0 10%; }
  .navigation-menu li {
    float: left;
    display: inline;
    margin: 0 1%;
    font-size: 16px;
    padding: 5px;
    background-color: #40BDC0; }
  .navigation-menu a {
    color: #FFF; }

.header-global {
  background: #00A0A9; }

.social-networks {
  margin-top: -100px;
  float: right;
  width: 36%; }
  .social-networks ul {
    margin-left: 105px; }
  .social-networks h2 {
    color: #FFF;
    margin-bottom: -32px; }
  .social-networks li {
    display: inline-block; }

.social-networks-icon-facebook {
  text-indent: 9999px;
  width: 38px;
  height: 38px;
  margin: 5px;
  background-image: url(../img/facebook.png); }

.social-networks-icon-twitter {
  text-indent: 9999px;
  width: 38px;
  height: 38px;
  margin: 5px;
  background-image: url(../img/twitter.png); }

.social-networks-suscription h2 {
  color: #00A0A9;
  border-bottom: 3px solid #00A0A9;
  margin: 100px 0 20px;
  font-size: 18px;
  font-size: 1.8rem; }
.social-networks-suscription h3 {
  font-size: 15px;
  font-size: 1.5rem;
  border-bottom: 1px solid #000;
  margin: 5px 0 10px; }
.social-networks-suscription .text {
  padding: 15px 0; }

.other-news {
  color: #FF7B1A; }

.social-networks-publicity {
  padding-top: 30px;
  margin-left: 30px;
  width: 300px;
  height: 220px; }

.example-square {
  width: 300px;
  height: 220px;
  background: #999; }

.social-networks-notice p {
  font-weight: 600; }

.notice-other-container {
  padding: 25px 0 20px;
  border-bottom: 1px solid #000; }

.tech-news-square-imagen {
  width: 150px;
  height: 167px;
  background: #999; }

.tech-news-info {
  float: right;
  width: 400px; }

.tech-news-more {
  display: block;
  margin: 0 auto;
  margin-top: -5%;
  text-align: center;
  padding-top: 1.5%;
  width: 22%;
  height: 27px; }

.other-footer {
  height: 274px; }

.article-info-main {
  margin-bottom: 15px;
  padding: 0 0 30px 0;
  border-bottom: 2px solid #999; }
  .article-info-main h2 {
    font-size: 20px;
    font-size: 2rem;
    padding-bottom: 10px; }
  .article-info-main p {
    margin: 0 0 10px 0; }

.button-turquoise {
  color: #fff;
  background-color: #00A0A9;
  border-radius: 7px; }

.footer {
  height: 100px;
  text-align: center;
  background-color: #c0c0c0;
  top: 1760px; }
  .footer ul {
    float: left; }
    .footer ul li {
      display: inline-block;
      padding: 0 15px;
      display: inline-block; }
      .footer ul li a {
        color: #777; }

.footer-content {
  padding-top: 40px;
  width: 1015px;
  margin: 0 auto; }

.footer-title {
  color: #777;
  font-weight: bold; }

.footer-networks {
  float: right; }
  .footer-networks p {
    display: inline-block; }

/*# sourceMappingURL=styles.css.map */
