.header-global{
	background: $color1;
}

.social-networks{
	margin-top: -100px;
 	float: right;
	width: 36%;

	ul{
	 	margin-left: 105px;
	}
	h2{
		color: $white;
		margin-bottom: -32px;
	}

	li{
	display: inline-block;
	}
}

.social-networks-icon-facebook{
  	text-indent: 9999px;
  	width: 38px;
  	height: 38px;
  	margin: 5px;
	background-image: url(../img/facebook.png);
}

.social-networks-icon-twitter{
  	text-indent: 9999px;
  	width: 38px;
  	height: 38px;
  	margin: 5px;
	background-image: url(../img/twitter.png);
}